.edit-page-container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* 画面全体の高さ */
}

.edit-content-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.textarea-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    margin: 0;
}

.textarea-expand {
    flex: 1 1 auto;
    resize: none;
    min-height: 0;
    box-sizing: border-box;
    margin: 0;
}

.fit-content {
    width: fit-content;
}
