@page "/top"

@inject NavigationManager Navigation
@inject ISupabaseService SupabaseService

<PageTitle>Top</PageTitle>

@if (_memos is null)
{
    <div>読み込み中...</div>
}
else if (!_memos.Any())
{
    <div>メモがありません</div>
}
else
{
    <ul class="list-group">
        @foreach (var memo in _memos)
        {
            <li class="list-group-item">
                <span class="pointer" @onclick="() => Edit(memo.MemoId)"><strong>@memo.Title</strong></span>
                <div class="text-muted small">@memo.UpdatedAt.ToString("yyyy/MM/dd HH:mm")</div>
            </li>
        }
    </ul>
}

@code {
    /// <summary>
    /// メモ一覧
    /// </summary>
    private List<Memo>? _memos;

    /// <summary>
    /// 初期化処理
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        var result = await SupabaseService.GetLatestMemosAsync(10);
        result.Match(
            memos => _memos = memos,
            error => _memos = new List<Memo>()
        );

        await base.OnInitializedAsync();
    }

    /// <summary>
    /// メモ編集画面へ遷移
    /// </summary>
    /// <param name="memoId"></param>
    private void Edit(Guid memoId)
    {
        Memo? memo = _memos?.FirstOrDefault(x => x.MemoId == memoId);
        if (memo is not null)
        {
            Navigation.NavigateTo($"/edit/{memo.CategoryId}/{memo.MemoId}");
        }
    }
}
